/*Website Styles*/
*{
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}
body {
  background-image: url(images/upfeathers.png);
  background-repeat: repeat;
  background-color: #ece9dd;
  /* color: blue; */
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  color: #333333;
  /* margin: 50px */
  /* margin: 10px 20px 10px; */
}
img {
  /* width: 400px; */
  height: 300px;
}

header,
section,
footer  {
  padding: 30px;
}
header {
  border-bottom: 5px solid grey;
}
h1, h2, h3 {
  color: #116466;
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;

}
h1{
  font-size: 80px;
  font-weight: bold;
  /* font-style: italic; */
  text-align: right;
  margin: 30px 0px;
}

.title {
  font-size: 68px;
  /* text-decoration: underline; */
}

h2{
  font-size: 60px;
  font-weight: bold;
  /* font-style: italic; */
  text-align: center
  }
h2{
  font-size:40px;
  font-weight: bold;
  /* font-style: italic; */
}
header h1{
  text-align: left;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
}
.banner {
  height: 500px;
  background-image: url(images/teegee.jpg);
  background-size: cover;
  background-position: top;
  border-bottom: 5px solid grey;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
p {
  margin: 15px 0px;
}
ul, ol {
  margin: 15px 0px;
}

.float-image {
  float: left;
  margin-right: 15 px;
  margin-bottom: 15 px;
}

section{
  /* background: #ffffff; */
  border: 1px solid grey;
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  position: center;
}

.youtube{
  margin: 10px auto;
}

a:link,
a:focus,
a:active {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: grey;
}

footer {
  background: #666666;
  text-align: center;
  font-size: 18px;
}
